#home_page div{
    display: flex;
    width: 100%;
}

button{
    width: fit-content;
    align-items: center;
    justify-content: center;

}

#data{
    display: flex;
    width: 100%;
}

.table_header{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

td{
    width: 10%;
}

p{
    display: wrap;
    width: 100%;
}